
.ItemBox {
    display: inline-block;
    width: 350px;
    height: 160px;
    padding: 10px;
    border: 2px solid black;
    margin: 0;
    background-color: #90a8ed;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 10px 10px 0px 10px black;
}